.shop-container{
    flex: 6;
    max-width: 60%;
    padding-right: 20px;
}

p.VAT-info{
    color: black;
    font-weight: bold;
    word-spacing: 1px;
}




@media (max-width : 992px) {
    .shop-container{
        flex: 5;
    }

}
  
@media (max-width : 768px) {
    .shop-container{
        max-width: 100%;
    }
}

@media (max-width : 600px){
    .components-container{
        flex-direction: column-reverse;
    }
}